.documents-container {
  margin: 0% 3% 3%;
  padding: 1%
}

.comments-border:not(:first-child) {
  border-top: dotted 12px lightgray;
  width: 7%;
  text-align: center;
  margin: 1.25% 0 2% 45%;
}

li {
  p {
    margin-bottom: 0 !important
  }
}

.list-group{
  max-height: 45vh !important;
  overflow-y: scroll !important;
  border: solid 1px lightgray !important;
}