.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0% 2% 0%
}

.row {
  width: 100%;
}

.nav {
  justify-content: space-evenly;
}

div#tsg-rwd-advisories {
  padding-right: 10px !important;

  .tsg-rwd-eab-centerframe {
    display: unset !important;

    // travel advisory header last updated
    .tsg-rwd-eab-type-main-frame {
      height: auto !important;
      display: unset !important;
    }

    // threat icons container
    div#container {
      display: inline !important;

      // threat icon
      a.showThreat {
        margin-top: 1.5% !important;
      }
    }

  }
}

// advisory level header
.tsg-rwd-eab-title-frame {
  padding-top: 1.5% !important;
  display: unset !important;
}

// read more/ teaser
.tsg-rwd-alert-more-box-btn,
.tsg-rwd-alert-teaser {
  display: none;
}

.tsg-rwd-alert-more-box {
  display: unset !important
}

// details
.tsg-rwd-alert-more-box-content {
  display: unset !important;
  text-align: start;
  padding-top: 1%
}


.embassy-messages.parsys {
  * {
    box-sizing: unset;
  }
}
